.jumbotron {
    background-color: #28A3F7;
    color: #000000;
    width: auto;
}


.footer{
    padding: 10 px 10px 0 10px;
    background-color: #28A3F7;
    margin-bottom: 0px;
    margin-bottom: 0px;
}

.card-rbbp{
    flex: 1 200px;
    margin-top: 10px;
    position: static;
}

.btn-rbbp{
    width: 100%;
    background-color: #28A3F7;
    left: 0;
    bottom: 0;
    border-radius: 5px;
}

.navbar{
    position:fixed;
    width: 100%;
}

.p{
    padding: 20px 5px 2px 5px;
}

#img1{
    margin-left: 7%;
}
